<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdpt.cloudService.mapper.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.mrbird.febs.cloud.entity.Task">
        <id column="task_id" property="taskId" />
        <result column="name" property="name" />
        <result column="status" property="status" />
        <result column="description" property="description" />
        <result column="predict_image" property="predictImage" />
        <result column="reality_image" property="realityImage" />
        <result column="job_id" property="jobId" />
        <result column="robot_ids" property="robotIds" />
        <result column="begin_date" property="beginDate" />
        <result column="expected_finish_date" property="expectedFinishDate" />
        <result column="register_date" property="registerDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        task_id, name, status, description, predict_image, reality_image, job_id, robot_ids, begin_date, expected_finish_date, register_date, update_date
    </sql>

</mapper>
